.theme-default-content.custom {
  text-align: center;
}
blockquote {
  font-size: .9rem !important;
}

.personal-info-wrapper {
  height: 100px !important;
}
.personal-info-wrapper .num {
  padding-top: 16px !important;
}

.info-wrapper .category-wrapper {
  max-height: 300px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.info-wrapper .tags {
  max-height: 300px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}