.theme-default-content.custom {
  text-align: center;
}

.personal-info-wrapper {
  height: 100px !important;
}
.personal-info-wrapper .num {
  padding-top: 16px !important;
}
blockquote {
  font-size: .9rem !important;
}
